-# .tasks
-#   .container
    -#  = render 'tabs'
-#   %h2 All Tasks 
-#   - @tasks.each do |task|
-#     = render 'commons/task', task: task  
-# .new_board_container
-#   = link_to new_board_task_path do
-#     .board_new
-#       %p + Add new task