= link_to board_path(board) do
  .card
    -# - if @board.eyecatch.attached? 
    -# .card_image
    -#   = image_tag board.eyecatch
    .card_content
      .card_title
        = board.title

    -# = image_tag board.user.avatar_image 
      %div
        %p= @board.author_name
        %p= @board.display_created_at
        -# .card_detail
        -#   - if user_signed_in? && current_user.has_written?(@board)
        -# .card_detail_actions
        -#   .dropdown
        -#   = image_tag 'actions.svg', class: 'dropbtn'
        -#   .dropdown-content.mini
        -#   = link_to '編集する', edit_board_path(@board)
        -#   = link_to '削除する', board_path(@board), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }


