.container
  -# = render 'tabs'
  %h2 All Boards 
  - @boards.each do |board|
    = render 'commons/board', board: board

-#       .board_detail_actions
-#         .dropdown
-#           = image_tag 'actions.svg', class: 'dropbtn'
-#           .dropdown-content.mini
-#             = link_to '編集する', edit_board_path(@board)
-#             = link_to '削除する', board_path(@board), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
-# .container
   = link_to new_board_path do
    .board_new
      %p + Add new board
