@import './variables';

.btn-primary {
    background-color: gray;
    border: none;
    width: 90%;
    text-align: center;
    color: $primary-color;
    padding: 16px 0;
    font-weight: bold;
  }


.btn-secondary {
    background-color: blue;
    margin: 0 auto;
    border: solid 1px $primary-color;
    width: 90%;
    text-align: center;
    color: $primary-color;
    padding: 12px 0;
    font-weight: bold;
}

