@import './variables';

.btn-primary {
    background-color: rgb(255, 196, 0);
    border: none;
    width: 100%;
    text-align: center;
    color: $primary-color;
    padding: 16px 0;
    font-weight: bold;
    // clear: both;
  }



.btn-secondary {
    background-color: rgb(255, 196, 0);
    margin: 0 auto;
    border: solid 1px $primary-color;
    width: 90%;
    text-align: center;
    color: $primary-color;
    padding: 12px 0;
    font-weight: bold;
    // clear: both;
}

