@import './variables';

.top-PageTitle {
   padding: 15px 10px;
   margin: 0px 0px;
   background-color: #F2F2F2;
   border-bottom-style: solid;
   border-width: 1px;
   font-size: 20px;

   &.border-bottom-style {
     opacity: 10%;
   }
}

.header h2 {
  padding: 20px 20px;
}

.header a {
  padding: 20px 20px;
}

.dropbtn {
    border: none;
  }
  
  .dropdown {
    position: relative;
    justify-content: flex-end;
  }
  
  .dropdown-content {
    font-weight: bold;
    display: none;
    right: 0;
    position: absolute;
    background-color: white;
    min-width: 160px;
    height: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    &.mini {
        min-width: 100px;
    }
  }
  
  .dropdown-content a {
    line-height: 20px;
    font-size: 15px;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    color: rgb(0, 0, 0);
  }
  
  .dropdown-content a:hover {
    background-color: $base-bg-color;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  h2 {
    padding: 12px 24px;
  }