-# .container.profilePage
-#   .profilePage_user
-#     .profilePage_user_image
-#       = image_tag @account.avatar_image
-#     .profilePage_user_basicInfo
-#       .profilePage_user_name
-#         .profilePage_user_displayName
-#           -# #{@account.display_name}（#{@account.age})
-#         .profilePage_user_actionButton
-#           = link_to 'Edit', edit_profile_path
-#       .profilePage_user_introduction
-#         = @account.profile&.introduction
           
-# - @account.boards.each do |board| 
-#   = render 'commons/board', board: board

= render 'commons/profile', user: @account